<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pago con Stripe</title>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="stripe.js"></script>
  </head>
  <body>
    <app-barra-navegacion></app-barra-navegacion>
    <h1>Bienvenido a la tienda</h1>

    <app-carrito-compras></app-carrito-compras>

    <router-outlet></router-outlet>
    <app-lista-productos></app-lista-productos>
    <!-- Aquí colocarás tu formulario de pago -->
    <form id="payment-form">
      <div id="card-element"></div>
      <button type="submit">Pagar</button>
    </form>
  </body>
</html>
